name: Scrape Timetable

on:
  schedule:
    - cron: '11 1 * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          playwright install chromium


      - name: Run scraper
        run: python main.py

      - name: Commit and push if changed
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

          git add index.html

          if git diff --staged --quiet; then
            echo "No changes"
          else
            git commit -m "Update timetable [automated]"
            git push
          fi
